<div id="" class="action-panel-content yt-card yt-card-has-padding">

  <div id="">Normal</div>
  <label>Presets</label>
  <select id="ym-presets">
    <option value="normal">Normal</option>
    <option value="hallway">Hallway</option>
    <option value="compressor">Compressor</option>
    <option value="8bit">8-bit</option>
  </select>

  <div id="ym-preset-options">
    <label>Threshold</label>
    <input name="ym_compressor_threshold" type="range" min="-100" max="0" value="-50" step="1" date-node="compressor" data-node-property="threshold" />

    <label>Knee</label>
    <input name="ym_compressor_knee" type="range" min="0" max="40" value="40" step="1" />

    <label>Ratio</label>
    <input name="ym_compressor_ratio" type="range" min="1" max="20" value="12" step="1" />

    <label>Reduction</label>
    <input name="ym_compressor_reduction" type="range" min="-20" max="0" value="-20" step="1" />

    <label>Attack</label>
    <input name="ym_compressor_attack" type="range" min="0" max="1" value="0" step="0.01" />

    <label>Release</label>
    <input name="ym_compressor_release" type="range" min="0" max="1" value="0.25" step="0.01" />
  </div>
  
</div>