.ym-title, .ym-title a {
  background-color: #FFF;
  color: #666;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.ym-node-group {
  display: none;
}

.ym-preset-options {
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #f8f8f8;
}

.ym-property-group {
  display: inline-block;
  width: 45%;
}